<?xml version="1.0"?>
<config>
    <modules>
        <Visual_News>
            <version>0.1.0</version>
        </Visual_News>
    </modules>
    <global>
        <resources>
            <news_setup>
                <setup>
                    <module>Visual_News</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </news_setup>
            <news_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </news_write>
            <news_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </news_read>

        </resources>
        <models>
            <news>
                <class>Visual_News_Model</class>
                <resourceModel>news_mysql4</resourceModel>
            </news>
            <news_mysql4>
                <class>Visual_News_Model_Mysql4</class>
                <entities>
                    <news>
                        <table>news</table>
                    </news>
                </entities>
            </news_mysql4>
        </models>
        <blocks>
            <news>
                <class>Visual_News_Block</class>
            </news>
        </blocks>
        <helpers>
            <news>
                <class>visual_News_Helper</class>
            </news>
        </helpers>
        <frontend>
            <routers>
                <news>
                    <use>standard</use>
                    <args>
                        <module>Visual_News</module>
                        <frontName>news</frontName>
                    </args>
                </news>
            </routers>
        </frontend>
    </global>
    <admin>
        <routers>
            <news>
                <use>admin</use>
                <args>
                    <module>Visual_News</module>
                    <frontName>news</frontName>
                </args>
            </news>
        </routers>
    </admin>
</config>