<?xml version="1.0"?>
<config>
    <modules>
        <Visual_Configviewer>
            <version>0.1.0</version>    <!-- Version of module -->
        </Visual_Configviewer>
    </modules>
    <frontend>
        <routers>
            <configviewer>
                <use>standard</use>
                <args>
                    <module>Visual_Configviewer</module>
                    <frontName>configviewer</frontName>  <!-- This is the URL of the module. i.e www.yourmagento.com/index.php/test will be the url of your module. -->
                </args>
            </configviewer>
        </routers>
        <layout>
            <updates>
                <configviewer>
                    <file>configviewer.xml</file>
                </configviewer>
            </updates>
        </layout>
    </frontend>
    <global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <Visual_Configviewer_Model_Observer>
                        <type>singleton</type>
                        <class>Visual_Configviewer_Model_Observer</class>
                        <method>checkForConfigRequest</method>
                    </Visual_Configviewer_Model_Observer>
                </observers>
            </controller_front_init_routers>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <Visual_Configviewer_Model_Observer>
                        <type>singleton</type>
                        <class>Visual_Configviewer_Model_Observer</class>
                        <method>logCompiledLayout</method>
                    </Visual_Configviewer_Model_Observer>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <controller_action_postdispatch>
                <observers>
                    <Visual_Configviewer_Model_ObserverLayout>
                        <type>singleton</type>
                        <class>Visual_Configviewer_Model_ObserverLayout</class>
                        <method>checkForLayoutDisplayRequest</method>
                    </Visual_Configviewer_Model_ObserverLayout>
                </observers>
            </controller_action_postdispatch>
        </events>
        <blocks>
            <configviewer>
                <class>Visual_Configviewer_Block</class>  <!-- Path of the Block Folder, where all php files are located related to view -->
            </configviewer>
        </blocks>
        <helpers>
            <configviewer>
                <class>Visual_Configviewer_Helper</class>
                <!-- Path of Helper Files -->
            </configviewer>
        </helpers>
        <models>
            <configviewer>
                <class>Visual_Configviewer_Model</class>
                <resourceModel>configviewer_mysql4</resourceModel>
            </configviewer>
            <configviewer_mysql4>
                <class>Visual_Configviewer_Model_Mysql4</class>
                <entities>
                    <!--<product>-->
                        <!--<table>visual_product</table>-->
                    <!--</product>-->
                </entities>
            </configviewer_mysql4>
        </models>
        <resources>
            <configviewer_setup>
                <setup>
                    <module>Visual_Configviewer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>

            </configviewer_setup>
            <configviewer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </configviewer_write>
            <configviewer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </configviewer_read>
        </resources>
    </global>
</config>